 body{
    font-family: 'Roboto Mono', monospace;
    background-color: #EBD4CC;
}

.logo{
    padding-left: 50px;
    padding-top: 25px;
}
ul{
    list-style-type: none;
}
hr{
    opacity: 0.6;
    color: dimgray;
}

nav{
    display: flex;
    margin: 25px 50px 0 50px;
    font-size: 18px;
    background-color: #514945;
}

a.menu{
    color: white;
    text-decoration: none;
    padding: 15px;
}

a.menu:hover{
    background-color: #894242;
    color: white;
    transition: 0.5s;
}

footer{
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 40px;
}
