#restable{
    border: 2px solid lightgreen;
    border-radius: 10px;
    font-family: 'Calibri', Tahoma, Geneva, Verdana, sans-serif;
    border-collapse: collapse;
}



th{
    font-size:x-large;
}

th, td{
    padding: 10px;
}
