<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./styles/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./styles/about.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>

<body onload="document.body.style.opacity='1'">
    <nav>
        <a class="menu titl non" href="/"><b>💓CARDIO-FIT</b></a>
        <a class="menu non" href="./predict">Prediction</a>
        <a class="menu non" href="/blog">Blog</a>
        <a class="menu act" href="./about">About Us</a>
    </nav>
    <center>
    <div class="bmonke">
        <img class="dp" src="{{ url_for('static', filename='./about/jay.jpg') }}">
        <h1>Jay Kumar</h1>
    </div>
    <div class="monke">
        <img class="dp two" src="{{ url_for('static', filename='./about/nkj.jpg') }}">
        <h1>Nishant Jha</h1>
    </div>
    </center>
    <center>
        <footer id="foot">
            Made with 💖 🧠 💪 by Jay Kumar and Nishant Jha
        </footer>
    </center>
</body>
</html>