<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>

<body>
    <a href="./"><img class="logo" src="../static/logo2.png"></a>
    <nav>
        <a class="menu" href="/">Home</a>
        <a class="menu" href="./predict">Prediction</a>
        <a class="menu" href="/blog">Blog</a>
        <a class="menu" href="./about">About Us</a>
    </nav>
    <h1><center>WORK IN PROGRESS!</center></h1>
</body>
</html>