<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./styles/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./styles/data.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardio-Fit: About The Dataset</title>
</head>

<body onload="document.body.style.opacity='1'">
    <nav>
        <a class="menu titl" href="/"><b>CARDIO-FIT</b></a>
        <a class="menu non" href="./predict">Prediction</a>
        <a class="menu act" href="/blog">Blog - Heart Diseases</a>
        <a class="menu non" href="./about">About Us</a>
    </nav>
    <div class="content">
    <div class="write">
        <div class="section">
            <h1 class="heading">Heart Diseases and their Preventions</h1>
            <p class="written one">
                Heart disease refers to any condition affecting the heart. There are many types, some of which are
                preventable.
            </p>
            <p class="written two">
                Unlike cardiovascular disease, which includes problems with the entire circulatory system, heart disease
                affects only the heart.
            </p>
            <p class="written three">
                Let’s learn more about the types, causes, and symptoms of heart disease.
            </p>
            <h2 class="heading sub one">Types</h2>
            <p class="written four">
                There are several different types of heart disease, and they affect the heart in different ways:
            </p>
            <h3>Coronary artery disease</h3>
            <p class="written five">
                Coronary artery disease, also known as coronary heart disease, is the most common type of heart disease.
            </p>
            <p class="written five one">
                It develops when the arteries that supply blood to the heart become clogged with plaque. This causes
                them to harden and narrow. Plaque contains cholesterol and other substances.
            </p>
            <p class="written five two">
                It develops when the arteries that supply blood to the heart become clogged with plaque. This causes
                them to harden and narrow. Plaque contains cholesterol and other substances.
            </p>
            <p class="written five three">As a result, the blood supply reduces, and the heart receives less oxygen and
                fewer nutrients. In time, the
                heart muscle weakens, and there is a risk of heart failure and arrhythmias.
                When plaque builds up in the arteries, this is called atherosclerosis.
            </p>
            <h3>Congenital heart defects</h3>
            <p class="written six">
                A person with a congenital heart defect is born with a heart problem. There are many types of congenital
                heart defect, including:
            <ul>
                <li><b>Abnormal heart valves</b>: Valves may not open properly or may leak blood.</li>
                <li><b>Septal defects</b>: There is a hole in the wall between either the lower chambers or the upper
                    chambers of the heart.</li>
                <li><b>Atresia</b>: One of the heart valves is missing.</li>
            </ul>
            </p>
            <p class="written">
                Congenital heart disease can involve major structural issues, such as the absence of a ventricle and
                problems with the main arteries that leave the heart.
            </p>
            <p class="written">
                Many congenital heart problems do not cause any noticeable symptoms and only become apparent during a
                routine medical check.
            </p>
            <p class="written">
                According to the <b>American Heart Association (AHA)</b>, heart murmurs often affect children, but only
                some
                are due to a defect.
            </p>
            <h3>Arrhythmia</h3>
            <p class="written">
                Arrhythmia refers to an irregular heartbeat. It occurs when the electrical impulses that coordinate the
                heartbeat do not work properly. As a result, the heart may beat too fast, too slowly, or erratically.
            </p>
            <p class="written">There are various types of arrhythmia, including:</p>
            <ul>
                <li>Tachycardia: This refers to a rapid heartbeat.</li>
                <li>Bradycardia: This refers to a slow heartbeat.</li>
                <li>Premature contractions: This refers to an early heartbeat.</li>
                <li>Atrial fibrillation: This is a type of irregular heartbeat.</li>
            </ul>
            <p class="written">
                A person may notice a feeling like a fluttering or a racing heart.
            </p>
            <p class="written">
                Brief changes in heart rhythm are not a cause for concern, but treatment will be necessary if they
                persist, as this can affect the heart’s function.
            </p>
            <p class="written">
                In some cases, arrhythmias can even be life threatening.
            </p>
            <h3>Dilated cardiomyopathy</h3>
            <p class="written">
                In dilated cardiomyopathy, the heart chambers become dilated, meaning that the heart muscle stretches
                and becomes thinner. The most common causes of dilated cardiomyopathy are prior heart attacks,
                arrhythmias, and toxins.
            </p>
            <p class="written">
                As a result, the heart becomes weaker and cannot pump blood properly. It can result in arrhythmia, blood
                clots in the heart, and heart failure.
            </p>
            <p class="written">
                It usually affects people aged 20–60 years, according to the AHA.
            </p>
            <h3>Myocardial infarction</h3>
            <p class="written">
                Also known as heart attack, myocardial infarction involves an interruption of the blood flow to the
                heart. This can damage or destroy part of the heart muscle.
            </p>
            <p class="written">
                The most common cause of heart attack is plaque, a blood clot, or both in a coronary artery. It can also
                occur if an artery suddenly narrows or spasms.
            </p>
            <h3>Heart failure</h3>
            <p class="written">
                When a person has heart failure, the heart is still working but not as well as it should. Congestive
                heart failure is a type of heart failure.
            </p>
            <p class="written">
                Heart failure can result from untreated coronary artery disease, high blood pressure, arrhythmias, and
                other conditions. These conditions can affect the heart’s ability to pump properly.
            </p>
            <p class="written">
                Heart failure can be life threatening, but seeking early treatment for heart-related conditions can help
                prevent complications.
            </p>
            <h3>Hypertrophic cardiomyopathy</h3>
            <p class="written">
                This condition usually develops when a genetic problem affects the heart muscle. It tends to be an
                inherited condition.
            </p>
            <p class="written">
                The walls of the muscle thicken, and contractions become harder. This affects the heart’s ability to
                take in and pump out blood. In some cases, an obstruction can occur.
            </p>
            <p class="written">
                There may be no symptoms, and many people do not receive a diagnosis. However, hypertrophic
                cardiomyopathy can worsen over time and lead to various heart problems.
            </p>
            <p class="written">
                Anyone with a family history of this condition should ask for screening, as receiving treatment can help
                prevent complications.
            </p>
            <p class="written">
                Hypertrophic cardiomyopathy is the main cause of cardiac death among athletes and people aged under 35
                years, according to the AHA.
            </p>
            <h3>Mitral valve regurgitation</h3>
            <p class="written">
                This event occurs when the mitral valve in the heart does not close tightly enough and allows blood to
                flow back into the heart.
            </p>
            <p class="written">
                As a result, blood cannot move through the heart or the body efficiently, and it can put pressure on the
                veins leading from the lungs to the heart. In time, the heart can become enlarged, and heart failure can
                result.
            </p>
            <h3>Mitral valve prolapse</h3>
            <p class="written">
                This happens when the valve flaps of the mitral valve do not close properly. Instead, they bulge into
                the left atrium. This can cause a heart murmur.
            </p>
            <p class="written">
                Mitral valve prolapse is not usually life threatening, but some people may need treatment.
            </p>
            <p class="written">
                Genetic factors and connective tissue problems can cause this condition, which affects around 2% of the
                population.
            </p>
            <h3>Aortic stenosis</h3>
            <p class="written">
                In aortic stenosis, the pulmonary valve is thick or fused and does not open properly. This makes it hard
                for the heart to pump blood from the right ventricle into the pulmonary artery.
            </p>
            <p class="writen">
                In aortic stenosis, the aortic valve opening is too narrow, restricting blood flow from the left
                ventricle to the aorta. It can also impact the pressure in the left atrium.
            </p>
            <p class="written">
                A person may be born with it, or it may develop over time due to calcium deposits or scarring.
            </p>
            <h2>Symptoms</h2>
            <p class="written">
                The symptoms of heart disease depend on the specific type a person has. Also, some heart conditions
                cause no symptoms at all.
            </p>
            <p class="written">
                The following symptoms may indicate a heart problem:
            <ul>
                <li>angina, or chest pain</li>
                <li>difficulty breathing</li>
                <li>fatigue and lightheadedness</li>
                <li>swelling due to fluid retention, or edema</li>
            </ul>
            </p>
            <p class="written">
                In children, the symptoms of a congenital heart defect may include cyanosis, or a blue tinge to the
                skin, and an inability to exercise.
            </p>
            <p class="written">
                Some signs and symptoms that could indicate heart attack include:
            <ul>
                <li>chest pain</li>
                <li>breathlessness</li>
                <li>heart palpitations</li>
                <li>nausea</li>
                <li>stomach pain</li>
                <li>sweating</li>
                <li>arm, jaw, back, or leg pain</li>
                <li>a choking sensation</li>
                <li>swollen ankles</li>
                <li>fatigue</li>
                <li>an irregular heartbeat</li>
            </ul>
            </p>
            <p class="written">
                Heart attack can lead to cardiac arrest, which is when the heart stops and the body can no longer
                function. A person needs immediate medical attention if they have any symptoms of heart attack.
            </p>
            <p class="written">
                If cardiac arrest occurs, the person will need:
            <ul>
                <li>immediate medical help.</li>
                <li>immediate cardiopulmonary resuscitation.</li>
                <li>a shock from an automated external defibrillator, if available.</li>
            </ul>
            </p>
            <h2>Causes</h2>
            <p class="written">
                Heart disease develops when there is:
            <ul>
                <li>damage to all or part of the heart</li>
                <li>a problem with the blood vessels leading to or from the heart</li>
                <li>a low supply of oxygen and nutrients to the heart</li>
            </ul>
            </p>
            <p class="written">
                In some cases, there is a genetic cause. However, some lifestyle factors and medical conditions can also
                increase the risk. These include:
            <ul>
                <li>high blood pressure</li>
                <li>high cholesterol</li>
                <li>smoking</li>
                <li>a high intake of alcohol</li>
                <li>overweight and obesity</li>
                <li>diabetes</li>
                <li>a family history of heart disease</li>
                <li>dietary choices</li>
                <li>age</li>
                <li>a history of preeclampsia during pregnancy</li>
                <li>low activity levels</li>
                <li>high stress and anxiety levels</li>
            </ul>
            The World Health Organization (WHO) mentions poverty and stress as two key factors contributing to a global
            increase in heart and cardiovascular disease.
            </p>
            <h2>Prevention</h2>
            <p class="written">
                Some lifestyle measures can help reduce the risk of heart disease. These include:
            <ul>
                <li><b>Eating a balanced diet</b>: Opt for a heart-healthy diet that is rich in fiber and favors whole
                    grains
                    and fresh fruits and vegetables. Also, it may help to limit the intake of processed foods and added
                    fat, salt, and sugar.</li>
                <li><b>Exercising regularly</b>: This can help strengthen the heart and circulatory system, reduce
                    cholesterol,
                    and maintain blood pressure.</li>
                <li><b>Maintaining a moderate body weight</b>: A person can check their body mass index (BMI) here.</li>
                <li><b>Quitting or avoiding smoking</b>: Smoking is a major risk factor for heart and cardiovascular
                    conditions.</li>
                <li><b>Limiting alcohol intake</b>: Females should consume no more than one standard drink per day, and
                    males
                    should consume no more than two standard drinks per day.</li>
                <li><b>Managing underlying conditions</b>: Seek treatment for conditions that affect heart health, such
                    as high
                    blood pressure, obesity, and diabetes.</li>
            </ul>
            </p>
            <p class="written">
                Taking these steps can help boost overall health and reduce the risk of heart disease and its
                complications.
            </p>
            <h2>
                Outlook
            </h2>
            <p class="written">
                Heart disease is a common health problem. There are several different types of heart disease.
            </p>
            <p class="written">
                Some stem from genetic problems and are not preventable. In many cases, however, a person can take steps
                to prevent heart disease and its complications.
            </p>
            <p class="written">
                These steps include following a healthful diet, getting plenty of exercise, and seeking advice when the
                first symptoms of heart disease appear.
            </p>
        </div>
    </div>
    </div>
    <center>
        <footer id="foot">
            Made with ❤️ by Jay and Nishant
        </footer>
    </center>
</body>

</html>