.content{
    
}
.write {
    background-color: #ebebf3;
    border: solid grey 1px;
    border-radius: 5px;
    color: black;
    box-shadow: 10px 10px 5px grey;
}
a.todata:visited, a.toheart:visited{
    color:black;
}


.section {
    margin: 5vh;
}

.blog1,
.blog2 {
    padding: 2%;
}

.heading {
    font-size: 40px;
}

.written {
    font-size: 20px;
    display: inline;
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
    width: 30%;
}