
.content{
    display: block;
    padding-top: 50px;
    width: 60%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
.write{
    background-color: white;
    border: solid grey 1px;
    border-radius: 5px;
    color: black;
    box-shadow: 10px 10px 5px grey;
    margin-top: 50px;
}

.section{
    margin: 5vh;
}

.written{
    padding: 5px 0 5px 0;
}

.section img{
    padding: 10px 0 10px 0;
    border: solid 1px lightgrey;
    max-width: 65%;
}
