div.gallery {
    margin-top: 100px;
    padding: 2%;
    border-radius: 10px;
    text-align: center;
}

.dused {
    width: 100% !important;
}

div.gallery img {
    border-radius: 10px;
    box-shadow: 7px 7px 5px grey;
    width: 93%;
    height: 94%;
}

div.gallery img:hover {
    border-radius: 10px;
    transform: scale(1.05);
    transition: 0.4s;
}

div.desc {
    margin-top: 20px;
    padding: 15px;
    text-align: center;
    color: grey;
    border-bottom: 2px solid grey;
    background-color: #dedee3;
    height: 30px;
    box-shadow: 10px 10px 5px grey;
}

.pic {
    width: 20%;
    float: right;
    background-color: inherit;
    margin: 70px 500px 200px 100px;
}

.parentgal {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.banner {
    background-color: white;
    background-image: url('../home/bannerpurple.jpg');
    background-size: contain;
    background-position: 45vh;
    background-repeat: no-repeat;
    padding-top: 40px;
    height: 700px;
    color: white;
}

.description {
    color: black;
    margin-left: 130px;
    margin-top: 200px;
    max-width: 35%;
}

.logo {
    height: 76%;
    width: 76%;
}

.descban {
    color: grey;
    font-size: 24px;
    font-family: 'Segoe UI';
    padding-bottom: 20px;
}

.wlcm {
    box-shadow: 10px 10px 5px grey;
}

.descdesc {
    color: grey;
    font-size: 24px;
    font-family: 'Segoe UI';
}

@media only screen and (max-width: 1269px) {
    .parentgal {
        flex-direction: column;
    }
    .description {
        color: black;
        margin-left: auto;
        margin-top: 700px;
        margin-right: auto;
        max-width: 50%;
    }
    .banner {
        background-color: white;
        background-image: url(../home/bannerpurple.jpg);
        background-repeat: no-repeat;
        padding-top: 40px;
        background-position-y: center;
        height: 700px;
        color: white;
        margin-top: 400px;
        background-size: 170%;
        background-position-x: center;
    }

    div.desc{
        color: black !important;
        background-color: white !important;
    }

    .descdesc{
        font-size: 36px;
        font-style:normal;
    }

    .parentgal{
        margin-top: 450px;
    }
}