html{
    scroll-behavior: smooth;
}
.parentgal {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.gallery {
    margin-top: 100px;
    text-align: center;
    width: 30%;
}

.gal-cont{
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
}

div.gallery img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
}

div.gallery img:hover {
    transform: scale(1.1);
}

div.desc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 15px;
    text-align: center;
    color: grey;
    border-bottom: 2px solid grey;
    background-color: white;
    height: 30px;
    /* box-shadow: 10px 10px 5px grey; */
    border: 1px solid grey;
    border-radius: 8px;
    transition: 0.3s;
}

.desc:hover{
    box-shadow: 2px 2px 3px 3px lightgrey;
}

.pic {
    width: 20%;
    float: right;
    background-color: inherit;
    margin: 70px 500px 200px 100px;
}



.banner {
    background-color: white;
    background-image: url('../home/bannerpurple.jpg');
    background-size: contain;
    background-position: 45vh;
    background-repeat: no-repeat;
    padding-top: 40px;
    height: 900px;
    color: white;
}

.description {
    display: flex;
    flex-direction: column;
    color: black;
    margin-left: 130px;
    margin-top: 250px;
    max-width: 35%;
}

.logo {
    height: 76%;
    width: 76%;
}

.descban {
    color: grey;
    font-size: 24px;
    font-family: 'Segoe UI';
    padding-bottom: 20px;
}

.desc-link-parent{
    margin-top: 10px;
}
.desc-link {
    display: inline-block;
    font-size: 1em;
    background: #aea0dc;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.4s;
    border: 1px solid purple;
}
.desc-link:hover {
    letter-spacing: 6px;
    background-color: transparent;
    color: #daa520;
}
.wlcm {
    box-shadow: 10px 10px 5px grey;
}

.descdesc {
    color: grey;
    font-size: 22px;
    font-family: "Roboto", monospace;
    line-height:35px;
}

@media only screen and (max-width: 1269px) {
    .parentgal {
        flex-direction: column;
    }
    .description {
        color: black;
        margin-left: auto;
        margin-top: 700px;
        margin-right: auto;
        max-width: 50%;
    }
    .banner {
        background-color: white;
        background-image: url(../home/bannerpurple.jpg);
        background-repeat: no-repeat;
        padding-top: 40px;
        background-position-y: center;
        height: 700px;
        color: white;
        margin-top: 400px;
        background-size: 170%;
        background-position-x: center;
    }

    div.desc{
        color: black !important;
        background-color: white !important;
    }

    .descdesc{
        font-size: 36px;
        font-style:normal;
    }

    .parentgal{
        margin-top: 450px;
    }
}