 body{
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(235, 235, 235);
}

.logo{
    padding-left: 50px;
    padding-top: 25px;
}

hr{
    opacity: 0.6;
    color: dimgray;
}

nav{
    display: flex;
    margin: 25px 50px 0 50px;
    font-size: 18px;
    background-color: #282A35!important;
}

.act{
    background-color: #04AA6D;
}

a.menu{
    color: white;
    text-decoration: none;
    padding: 15px;
}

a.menu:hover{
    background-color: #bcdbd0;
    transition: 0.5s;
    color: black;
}

footer{
    position: static;
    bottom: 0;
    margin: 7% 0 2% 0;
    color: white;
    max-width: max-content;
    /* Height of the footer*/
    padding: 10px;
    background-color: #282A35!important;
}
